<div class="container shadow p-3 mb-5 rounded">
  <div class="title p-3">Results</div>
  <hr>
  <div class="score-container m-4 p-3">
    <% if @valid %>
      <% if @check %>
        <h5><strong>Congratulations!</strong> <%= @word %> is a valid English word!</h5>
        <p>Your score is <%= session[:score] %></p>
      <% else %>
        <p>Sorry, but <strong><%= @word %></strong> does not seem to be a valid English word...</p>
      <% end %>
    <% else %>
      <p>Sorry, but <strong><%= @word %></strong> can't be built out of the letters <%= @letters %> :(</p>
    <% end %>

    <div class="return-button m-6">
      <%= link_to 'Play again!', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>