<!DOCTYPE html>
<html>
  <head>
    <title>The Longest Word Game 🕹</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Play the Letter Game! You are given a random set of letters. You have to enter the longest English word you can find, using only
        letters in the grid">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
